@font-face {
    font-family: supermario;
    src: url(effects/CHLORINP.TTF);
}

@font-face {
    font-family: supermario2;
    src: url(effects/SuperMario286.TTF);
}

body {
    min-height: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    position: absolute; 
    border: solid 5px black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: supermario2;
    color: black;
    background-color: blueviolet;
}

canvas {
    max-width: 98%;
    height: 420px;
    width: 420px;
}

.snakeTitle {  
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10px;
}

.snakeTitle img {
    width: 220px;
    height: 60px;
}

.game {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.score {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.score h1{
    margin: 0 10px;
}

.score img{
    width: 50px;
    height: 20px;
}

.game .record{
    width: 100%;
    /* text-align: center; */
    /* background-color: aqua; */
}

.game .record h1{
  /* background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);  
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent;  */
    line-height: 60px; 
    margin-left: 10px;
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    
   
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 50% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
    
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
